---
- name: "Prerequisites | check system services"
  service_facts:
  register: services_state

- name: "Prerequisites | debug" 
  debug:
    msg: services_state

- name: "Prerequisites | disable nscd"
  service:
    name: nscd
    #state: stopped
    enabled: no
  tags:
    - install
  when:
    services_state.ansible_facts.services.nscd_service is defined
